<ul class="isotope-filters album-filter">
  <li class="current"><a href="#" data-filter="*">All Albums</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".electronic">Electronic</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".pop">Pop</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".rock">Rock</a></li>
</ul>

<div class="row albums">
  <!-- insert items here -->
</div>