  <div class="col-md-12 latest-albums">
      <h2>Latest <span>Albums</span> <a href="/albums" class="view-all"><span>View All</span> <i class="fa fa-angle-double-right view-all-icon"></i></a></h2>
      <div class="row place">
          <!-- insert aitems here -->
          <div class="loader">Loading...</div>
      </div>
  </div>
