<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <!-- Logo and toggle for navigation on mobile devices -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/assets/img/logo.png" alt="Awaaz" /></a>
      </div>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
              <li class="current"><a href="index.html">Home</a></li>
              <li class=""><a href="artists.html">Recent</a></li>
              <li class=""><a href="artists.html">Artist</a></li>
              <li class=""><a href="albums.html">Genres</a></li>
              <li class=""><a href="blog.html">Charts</a></li>
              <li class=""><a href="events.html">Moods</a></li>
              <li><a href="contact.html">My playlists</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div>
</nav>