<!-- latest content section -->
  <section id="latest-content">
      <div class="container">
          <!-- insert albums here -->

          

          <div class="row">
              <div class="col-md-12 latest-artist">
                  <h2>MOST <span>popular</span> <a href="#" class="view-all"><span>View All</span> <i class="fa fa-angle-double-right view-all-icon"></i></a></h2>
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="latest-content">
                              <a href="#">
                                  <div class="latest-content-image">
                                      <img src="/assets/img/photos/photo17.jpg" alt="" />
                                  </div>
                                  <div class="latest-content-info">

                                      <div class="meta">
                                          <div class="icon">
                                              <i class="fa fa-user"></i>
                                          </div>
                                          <h4>Dj Charlie White</h4>
                                          <p>Deep House</p>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="latest-content">
                              <a href="#">
                                  <div class="latest-content-image">
                                      <img src="/assets/img/photos/photo18.jpg" alt="" />
                                  </div>
                                  <div class="latest-content-info">
                                      <div class="meta">
                                          <div class="icon">
                                              <i class="fa fa-user"></i>
                                          </div>
                                          <h4>Aaron LaCrate</h4>
                                          <p>Trance</p>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="latest-content">
                              <a href="#">
                                  <div class="latest-content-image">
                                      <img src="/assets/img/photos/photo17.jpg" alt="" />
                                  </div>
                                  <div class="latest-content-info">

                                      <div class="meta">
                                          <div class="icon">
                                              <i class="fa fa-user"></i>
                                          </div>
                                          <h4>Dj Charlie White</h4>
                                          <p>Deep House</p>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="latest-content">
                              <a href="#">
                                  <div class="latest-content-image">
                                      <img src="/assets/img/photos/photo18.jpg" alt="" />
                                  </div>
                                  <div class="latest-content-info">
                                      <div class="meta">
                                          <div class="icon">
                                              <i class="fa fa-user"></i>
                                          </div>
                                          <h4>Aaron LaCrate</h4>
                                          <p>Trance</p>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          
      </div>
  </section>