<div class="col-md-12 latest-artist">
    <h2>MOST <span>popular</span> <a href="#" class="view-all"><span>View All</span> <i class="fa fa-angle-double-right view-all-icon"></i></a></h2>
    <div class="row place">
      <!-- insert items here -->
      <div class="loader">Loading...</div>
    </div>
</div>
