<div class="col-md-12 latest-artist">
  <h2>Latest <span>songs</span> <a href="/songs" class="view-all"><span>View All</span> <i class="fa fa-angle-double-right view-all-icon"></i></a></h2>
  <div class="row place">
    <div class="loader">Loading...</div>
  </div>
</div>
