<ul class="isotope-filters artists-filter">
  <li class="current"><a href="#" data-filter="*">All Artists</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".electronic">Electronic</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".pop">Pop</a></li>
  <li><i class="fa fa-ellipsis-v"></i><a href="#" data-filter=".rock">Rock</a></li>
</ul>

<div class="row artists">
  <div class="loader"><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Loading...</div>
  <!-- insert items here -->
</div>