  <div class="latest-content">
      <a href="#">
          <div class="latest-content-image">
              <img src="/assets/uploads/albums/{{img}}" alt="{{name}}" />
          </div>
          <div class="latest-content-info">

              <div class="meta">
                  <div class="icon">
                      <i class="fa fa-headphones"></i>
                  </div>
                  <h4>{{name}}</h4>
                  <p>{{artist.name}}</p>
              </div>
          </div>
      </a>
  </div>
