<li>
  <div class="track-nr">1</div>
  <div class="track-meta">
    <h5>{{ name }}</h5>
    <p>{{#list genres }} {{name}} {{/list}}</p>
  </div>
  <audio src="music/freeform.mp3" preload="auto"></audio>
  <ul class="track-btns">
  </ul>
</li>