<div class="latest-content">
    <a href="#">
        <div class="latest-content-image">
            <img src="/assets/uploads/songs/{{img}}" alt="" />
        </div>
        <div class="latest-content-info">

            <div class="meta">
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h4>{{name}}</h4>
                <p>{{artist.name}} - {{album.name}}</p>
            </div>
        </div>
    </a>
</div>
