<div class="container">
  <div class="row artist-info">
    <!-- insert artist data here -->
  </div>

  <div class="row songs">
    <!-- insert songs here -->
  </div>

  <div class="featured">
    <!-- insert artists here -->
  </div>
</div>