<div class="container">
  <div class="album">
    <!-- insert album full here -->
  </div>
      
  <div class="songs" id="songs">
    <!-- insert songs comosite here -->
  </div>

  <div class="featured">
    <!-- insert featured albums -->
  </div>
</div>