<div class="container">
  <div class="row artist-info">
    <!-- insert artist data here -->
  </div>

  <div class="row songs">
    <!-- insert songs here -->
  </div>

  <!--
   <div class="featured">
    <h2>Featured <span>Artists</span></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="latest-content">
          <a href="#">
            <div class="latest-content-image">
              <img src="images/photos/photo18.jpg" alt="" />
            </div>
            <div class="latest-content-info">

              <div class="meta">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <h4>Dj Charlie White</h4>
                <p>Deep House</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-content">
          <a href="#">
            <div class="latest-content-image">
              <img src="images/photos/photo11.jpg" alt="" />
            </div>
            <div class="latest-content-info">

              <div class="meta">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <h4>Aaron LaCrate</h4>
                <p>Trance, Rock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-content">
          <a href="#">
            <div class="latest-content-image">
              <img src="images/photos/photo17.jpg" alt="" />
            </div>
            <div class="latest-content-info">

              <div class="meta">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <h4>Dj Charlie White</h4>
                <p>Deep House</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="latest-content">
          <a href="#">
            <div class="latest-content-image">
              <img src="images/photos/photo12.jpg" alt="" />
            </div>
            <div class="latest-content-info">

              <div class="meta">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <h4>Aaron LaCrate</h4>
                <p>Trance, Rock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>-->
</div>