  <div class="container">
    <div class="songs"></div>
    <div class="albums"></div>
    <div class="artists"></div>
    <div class="popular"></div>
    <div class="genres"></div>
    <div class="moods"></div>
  </div>
