<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 albums-desc">
      <p>Nullam eu lectus et tellus malesuada bibendum sed a nisl. Praesent iaculis sem nisi, sed molestie est ullamcorper vitae. Praesent ac tincidunt eros. Duis eget urna convallis, faucibus magna vel, auctor justo. Proin et scelerisque dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">See below album list.</a></p>
    </div>
  </div>
  <div class="albums"></div>
</div>